.categories-container {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: flex-basis 0.3s ease;
  box-sizing: border-box;
}

.cat-box {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer; 
  text-align: left;
  outline: none;
  width: 100%;
  box-sizing: border-box; 
}

#selected-category{
  background-color: rgba(4, 0, 255, 0.7);
  color: white;
}

.cat-box:hover {
  background-color: rgba(4, 0, 255, 0.7);
  color: white;
}

.cat-box:hover .cat-name,
.cat-box:hover .cat-stock {
  color: white;
}

.icon {
  width: 60px; 
  height: 60px;
  border-radius: 10%;
  margin-right: 10px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-name {
  margin-bottom: 5px;
}

.cat-stock {
  color: gray;
}

.categories-products-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: flex-grow 0.3s ease;
}