.menu-container {
    display: flex;
    width:  100%;
    box-sizing: border-box;
    padding: 10px;
}
.menu-items{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}


.swiper-container{
    width: auto !important;
}
.swiper-slide{
    width: 100% !important;
}


  