.screen-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
  min-height: 100vh;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 95px;
  margin-right: 20px;
  margin-top: 60px;

}

.admin-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.category-management, .product-management, .user-management, .tax-management {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
}

.h2-admin {
  margin-bottom: 15px;
}

.input-admin {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.button-admin {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-admin:hover {
  background-color: #0056b3;
}

.ul-admin {
  list-style: none;
  padding: 0;
}

.ul-admin, .li-admin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ul-admin, .li-admin, .input-admin {
  margin-right: 10px;
  flex: 1;
}
.span-admin{
  font-size: 20px;
  margin: 3px 3px 3px 3px;
}

/* ProductManagement.css */

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table, .product-table th, .product-table td {
  border: 1px solid #ddd;
}

.product-table th, .product-table td {
  padding: 15px;
  text-align: left;
}

.product-table th {
  background-color:  #007bff;
  color: white;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button-product {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-product:hover {
  opacity: 0.8;
}


.edit-btn {
  background-color:  #007bff;
  color: white;
}

.delete-btn {
  background-color: red;
  color: white;
}
/* popup.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content form button[type="submit"] {
  background-color:  #007bff;
  color: white;
}

.modal-content form button[type="button"] {
  background-color: red;
  color: white;
}