.categories-container {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: flex-basis 0.3s ease;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 80px;
  max-height: 20vh;
}

.cat-box {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer; 
  text-align: left;
  outline: none;
  width: 100%;
  box-sizing: border-box; 
  border: 5px white;
}

.cat-box:hover, .cat-box.selected {
  background-color: #007bff;
  color: white;
}

.cat-box:hover .cat-name,
.cat-box:hover .cat-stock,
.cat-box.selected .cat-name,
.cat-box.selected .cat-stock {
  color: white;
}
.icon {
  width: 60px; 
  height: 60px;
  border-radius: 10%;
  margin-right: 10px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-stock{
  color: gray;
}

.cat-name {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}


.categories-products-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: flex-grow 0.3s ease;
}